<ion-view title="1° Año" id="page8" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="1AO-list88">
      <ion-item class="item-divider" id="1AO-list-item-divider4"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="1AO-list89">
      <ion-item class="item-icon-left dark" id="1AO-list-item135" ui-sref="tecInformTica.matemTica()">
        <i class="icon ion-university"></i>Matemática</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item133" ui-sref="tecInformTica.informTica()">
        <i class="icon ion-university"></i>Informática</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AO-list66">
      <ion-item class="item-divider" id="1AO-list-item-divider10"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="1AO-list67">
      <ion-item class="item-icon-left dark" id="1AO-list-item37" ui-sref="tecInformTica.informTica2()">
        <i class="icon ion-university"></i>Informática</ion-item>
    </ion-list>
    <ion-list id="1AO-list68">
      <ion-item class="item-icon-left dark" id="1AO-list-item38" ui-sref="tecInformTica.planeamientoYControlDeGestiN()">
        <i class="icon ion-university"></i>Planeamiento y Control de Gestión</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item39" ui-sref="tecInformTica.lGicaComputacional()">
        <i class="icon ion-university"></i>Lógica Computacional</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AO-list70">
      <ion-item class="item-divider" id="1AO-list-item-divider5"> Anuales</ion-item>
    </ion-list>
    <ion-list id="1AO-list71">
      <ion-item class="item-icon-left dark" id="1AO-list-item41" ui-sref="tecInformTica.comunicaciN()">
        <i class="icon ion-university"></i>Comunicación</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item42" ui-sref="tecInformTica.inglS()">
        <i class="icon ion-university"></i>Inglés</ion-item>
    </ion-list>
    <ion-list id="1AO-list72">
      <ion-item class="item-icon-left dark" id="1AO-list-item43" ui-sref="tecInformTica.sistemasI()">
        <i class="icon ion-university"></i>Sistemas I</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item119" ui-sref="tecInformTica.expresiNOralYEscrita()">
        <i class="icon ion-university"></i>Expresión Oral y Escrita</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="1AO-list7">
      <ion-item class="item-divider" id="1AO-list-item-divider6"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item44" ui-sref="tecInformTica.contabilidadYCostos()">
        <i class="icon ion-university"></i>Contabilidad y Costos</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item45" ui-sref="tecInformTica.algoritmosYEstructurasDeDatos()">
        <i class="icon ion-university"></i>Algoritmos y Estructuras de Datos</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item46" ui-sref="tecInformTica.procesamientoDeDatosI()">
        <i class="icon ion-university"></i>Procesamiento de Datos I</ion-item>
      <ion-item class="item-icon-left dark" id="1AO-list-item120" ui-sref="tecInformTica.seminarioDeActualizaciN()">
        <i class="icon ion-university"></i>Seminario de Actualización</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>