<ion-view title="2° Año" id="page9" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="2AO-list73">
      <ion-item class="item-divider" id="2AO-list-item-divider7"> 1° Cuatrimestre</ion-item>
    </ion-list>
    <ion-list id="2AO-list74">
      <ion-item class="item-icon-left dark" id="2AO-list-item29" ui-sref="tecInformTica.basesDeDatos()">
        <i class="icon ion-university"></i>Bases de Datos</ion-item>
    </ion-list>
    <ion-list id="2AO-list75">
      <ion-item class="item-icon-left dark" id="2AO-list-item30" ui-sref="tecInformTica.gestiNDeRecursosInformTicos()">
        <i class="icon ion-university"></i>Gestión de Recursos Informáticos</ion-item>
    </ion-list>
    <ion-list id="2AO-list76">
      <ion-item class="item-icon-left dark" id="2AO-list-item31" ui-sref="tecInformTica.procesamientoDeDatosII()">
        <i class="icon ion-university"></i>Procesamiento de Datos II</ion-item>
    </ion-list>
    <ion-list id="2AO-list77">
      <ion-item class="item-icon-left dark" id="2AO-list-item32" ui-sref="tecInformTica.recursosDeOficina()">
        <i class="icon ion-university"></i>Recursos de Oficina</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item129" ui-sref="tecInformTica.asignaturaElectivaI()">
        <i class="icon ion-university"></i>Asignatura Electiva I</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="2AO-list86">
      <ion-item class="item-divider" id="2AO-list-item-divider8"> Anual</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item121" ui-sref="tecInformTica.programaciN()">
        <i class="icon ion-university"></i>Programación</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item130" ui-sref="tecInformTica.sistemasII()">
        <i class="icon ion-university"></i>Sistemas II</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item131" ui-sref="tecInformTica.trabajoFinal()">
        <i class="icon ion-university"></i>Trabajo Final</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="2AO-list8">
      <ion-item class="item-divider" id="2AO-list-item-divider9"> 2° Cuatrimestre</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item49" ui-sref="tecInformTica.internetServiciosYDiseO()">
        <i class="icon ion-university"></i>Internet: Servicios y Diseño</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item50" ui-sref="tecInformTica.redesDeDatos()">
        <i class="icon ion-university"></i>Redes de Datos</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item51" ui-sref="tecInformTica.seminarioDeActualizaciNII()">
        <i class="icon ion-university"></i>Seminario de Actualización II</ion-item>
      <ion-item class="item-icon-left dark" id="2AO-list-item52" ui-sref="tecInformTica.asignaturaElectivaII()">
        <i class="icon ion-university"></i>Asignatura Electiva II</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>