<ion-view title="Acerca de la App" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">&nbsp;
          <strong>TEC. INFORMÁTICA UNLaR
          </strong>
        </span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>versión 1.0</strong>
        </span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>2019</strong>
        </span>
      </h4>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <hr>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #003366;">
          <strong>Diseño y Desarrollo de la App</strong>
        </span>
      </h4>
      <hr>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <h4 style="text-align: center;">
      <span style="color: #000080;">
        <strong>Marcos Nieto</strong>
      </span>
    </h4>
    <div class="spacer" style="height: 20px;"></div>
    <p style="text-align: center;">
      <span style="color: #ff6600;">
        <strong>¿Encontraste algún error o tenes una sugerencia para mejorar la App? Podés contactarme en mis redes sociales, toda idea suma !</strong>
      </span>
    </p>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="acercaDeLaApp-list4">
      <ion-item class="item-divider" id="acercaDeLaApp-list-item-divider1"> Contacto</ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item13" href-inappbrowser="https://api.whatsapp.com/send?phone=543804529789">
        <img src="img/HTo4NDEjS66FupLpLyeD_580b57fcd9996e24bc43c543.png">
        <h2dark>Whatsapp
          <p>54-3804-529789</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item15" href-inappbrowser="https://www.facebook.com/marcos.nieto17">
        <img src="img/GJERX7QfTgKn4zUJmBF1_logotipo-oficial-facebook-2014.png">
        <h2dark>Facebook
          <p>@marcos.nieto17</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item14" href-inappbrowser="https://www.instagram.com/marcos.nieto17/">
        <img src="img/WflkyiXbQpeQXxHEVeew_instagram.png">
        <h2dark>Instagram
          <p>@marcos.nieto17</p>
        </h2dark>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>