<ion-view title="Alcance del Título" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>Alcances del Título</u>
          </strong>
        </span>
      </h4>
      <div>El titulo intermedio de Técnico Universitario en Informática,&nbsp;capacita y habilita para:</div>
      <div>&nbsp;</div>
      <div>
        <p>
          <span style="color: #ff6600;">
            <strong>1-</strong>
          </span> Operar computadoras personales, utilizando las siguientes herramientas:&nbsp;Sistemas Operativos, Planillas de Cálculo, Procesadores de Texto,&nbsp;Exploradores de Internet y Correo Electrónico.</p>
        <p>
          <strong>
            <span style="color: #ff6600;">2-</span>
          </strong> Utilizar aplicaciones basadas en entornos gráficos.</p>
        <p>
          <span style="color: #ff6600;">
            <strong>3-</strong>
          </span> Documentar tareas ejecutivas y/o directivas</p>
        <p>
          <span style="color: #ff6600;">
            <strong>4-</strong>
          </span>Realizar actividades de carga y control de datos en Sistemas&nbsp;Informáticos.</p>
        <p>
          <span style="color: #ff6600;">
            <strong>5-</strong>
          </span>Administrar tareas en entornos multimediales.</p>
        <p>
          <span style="color: #ff6600;">
            <strong>6-</strong>
          </span> Participar en la elaboración de programas de capacitación en operación&nbsp;de sistemas computacionales.</p>
        <p>
          <span style="color: #ff6600;">
            <strong>7-</strong>
          </span> Colaborar en la evaluación y selección desde el punto de vista de los&nbsp;sistemas de información, de los equipos de procesamiento y comunicación&nbsp;y de los sistemas de base.&nbsp;</p>
        <p>
          <span style="color: #ff6600;">
            <strong>8-</strong>
          </span> Entender, planificar, especificar, dirigir, realizar, mantener y controlar&nbsp;el proyecto y la implementación de Sistemas de información orientados&nbsp;hacia el procesamiento automático.</p>
      </div>
    </div>
  </ion-content>
</ion-view>