<ion-view title="Algoritmos y Estructuras de Datos" id="page23" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="algoritmosYEstructurasDeDatos-list32">
      <ion-item class="item-icon-right dark" id="algoritmosYEstructurasDeDatos-list-item140" href-inappbrowser="https://drive.google.com/file/d/1oKxuqDPDjeqRtAj5spu0RsPiMfhw65W7/view?usp=sharing">Higiene y Seguridad Laboral
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="algoritmosYEstructurasDeDatos-list-item141" href-inappbrowser="https://drive.google.com/file/d/1HqLSahOBgfi6O0ux6IDLhEUZkJqTRv3U/view?usp=sharing">Seguridad Operativa 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="algoritmosYEstructurasDeDatos-list-item252" href-inappbrowser="https://drive.google.com/file/d/1fMbNHqyQky8d80Z5s1XJO6u05X5n-RrR/view?usp=sharing">Seguridad Operativa 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="algoritmosYEstructurasDeDatos-list-item142" href-inappbrowser="https://drive.google.com/file/d/16HOQ47LpJM96x_38mGibNm8KhFkLdTRt/view?usp=sharing">Ruidos y Vibraciones
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="algoritmosYEstructurasDeDatos-list33">
      <ion-item class="item-icon-right dark" id="algoritmosYEstructurasDeDatos-list-item143" href-inappbrowser="https://drive.google.com/file/d/18ihwOx4U6gsDMnbPikWKMXB9GdF98Vt1/view?usp=sharing">Prevención y Extensión de Incendios
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="algoritmosYEstructurasDeDatos-list-item144" href-inappbrowser="https://drive.google.com/file/d/1tzEnt56CpZ5EtdTuILS5FLo3_uMgndbv/view?usp=sharing">Residuos Patógenos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="algoritmosYEstructurasDeDatos-list-item145" href-inappbrowser="https://drive.google.com/file/d/1SyHTCseHmwD3tpEJjz542j0HEq9Hzt9R/view?usp=sharing">Riego Eléctrico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="algoritmosYEstructurasDeDatos-list-item253" href-inappbrowser="https://drive.google.com/file/d/1qgWoCXgavNQGERcFdLOsrYlZsb4L8I7D/view?usp=sharing">Riego Químico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="algoritmosYEstructurasDeDatos-list-item254" href-inappbrowser="https://drive.google.com/file/d/1BhnEeAyhcW9nbh5SENY_5hdICNdzpaGm/view?usp=sharing">Riego Eléctrico y Mecánico
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="algoritmosYEstructurasDeDatos-list-item255" href-inappbrowser="https://drive.google.com/file/d/1DixMpEQ4vDWG2QJc8brvYHwZ7EBA7rHB/view?usp=sharing">Seguridad en el Trabajo de Altura
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>