<ion-view title="Asignatura Electiva I" id="page32" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="asignaturaElectivaI-list50">
      <ion-item class="item-icon-right dark" id="asignaturaElectivaI-list-item194" href-inappbrowser="https://drive.google.com/file/d/1eKZX2S4NrEJF7ltba47N3TntXbCtZ_7t/view?usp=sharing">Administración de Pequeñas Empresas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="asignaturaElectivaI-list-item279" href-inappbrowser="https://drive.google.com/file/d/1g_PH_xDYFqA1Su7met1bvys48eCiD0kt/view?usp=sharing">Poner en Marcha una Empresa
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="asignaturaElectivaI-list-item280" href-inappbrowser="https://drive.google.com/file/d/1XwEtKxDhzmPjHwFH9QoRrP9wotAdwKHg/view?usp=sharing">Impuestos AFIP
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="asignaturaElectivaI-list-item281" href-inappbrowser="https://drive.google.com/file/d/1Dq__YhiEehaEcQVj78raeB48R6umGa32/view?usp=sharing">Secretos de la Innovación
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="asignaturaElectivaI-list-item282" href-inappbrowser="https://drive.google.com/file/d/18HKEdewKnopdZLS9Dcld2SGnAcMU6yBS/view?usp=sharing">Manipuladores del Cerebro
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="asignaturaElectivaI-list-item283" href-inappbrowser="https://drive.google.com/file/d/1Qq_l5wmS4QQUAUFBSMuwHZDOcYlFXj6J/view?usp=sharing">Plan de Negocio
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="asignaturaElectivaI-list-item284" href-inappbrowser="https://drive.google.com/file/d/1Ljr2VtnJcQneF3Q7xXi-aDwd0A6Wuqss/view?usp=sharing">Creer o Morir
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="asignaturaElectivaI-list-item285" href-inappbrowser="https://drive.google.com/file/d/1iXuAkSZ-F1M456b0gPsDpo1s18jOXfho/view?usp=sharing">Presupuesto de Caja
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="asignaturaElectivaI-list-item286" href-inappbrowser="https://drive.google.com/file/d/1fyrzGmN1PoDFuIkxoiSTUbrqJLssuz5p/view?usp=sharing">La Moda lo de Madonna
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="asignaturaElectivaI-list-item287" href-inappbrowser="https://drive.google.com/file/d/1gYNpVfA5vHsCqrW9t2rCngAmhXC3vBpw/view?usp=sharing">Guía Plan de Negocios
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="asignaturaElectivaI-list-item288" href-inappbrowser="https://drive.google.com/file/d/1E1lniv2URjrWXf-oGk0Noj3VkBpTtKNx/view?usp=sharing">Refacciones Plus
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>