<ion-view title="Bases de Datos" id="page28" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="basesDeDatos-list42">
      <ion-item class="item-divider" id="basesDeDatos-list-item-divider23"> Material de Lectura</ion-item>
      <ion-item class="item-icon-right dark" id="basesDeDatos-list-item170" href-inappbrowser="https://drive.google.com/file/d/1aomoQHxpzl0jqETujC8ALKdIlKeIhxPc/view?usp=sharing">Instalaciones Eléctricas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>