<ion-view title="Biblioteca Digital" id="page4" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/wd5d0SqGQCSVU1eXoiWA_FondoApp10.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/n4LPlvOpTbip0ADUcC1I_livro.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigital-list6">
      <ion-item class="item-icon-left positive" id="bibliotecaDigital-list-item20" ui-sref="tecInformTica.1AO()">
        <i class="icon ion-university"></i>1° Año</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigital-list63">
      <ion-item class="item-icon-left positive" id="bibliotecaDigital-list-item21" ui-sref="tecInformTica.2AO()">
        <i class="icon ion-university"></i>2° Año</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="bibliotecaDigital-list62">
      <ion-item class="item-icon-left positive" id="bibliotecaDigital-list-item22" ui-sref="tecInformTica.trabajoFinal()">
        <i class="icon ion-university"></i>3° Año</ion-item>
    </ion-list>
  </ion-content>
</ion-view>