<ion-view title="Expresión Oral y Escrita" id="page18" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="expresiNOralYEscrita-list22">
      <ion-item class="item-divider" id="expresiNOralYEscrita-list-item-divider15"> Material de Lectura</ion-item>
      <ion-item class="item-icon-right dark" id="expresiNOralYEscrita-list-item110" href-inappbrowser="https://drive.google.com/file/d/1TmaloQIxF49jz9HR3Tlu_rWooaovMkDa/view?usp=sharing">Electricidad I
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="expresiNOralYEscrita-list15">
      <ion-item class="item-divider" id="expresiNOralYEscrita-list-item-divider16"> Prácticos de Laboratorio</ion-item>
      <ion-item class="item-icon-right dark" id="expresiNOralYEscrita-list-item111" href-inappbrowser="https://drive.google.com/file/d/1t2Uw7kwFPFQ0VvIuxHMIxxLnPIYFplQN/view?usp=sharing">TP N° 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="expresiNOralYEscrita-list-item112" href-inappbrowser="https://drive.google.com/file/d/1nbnbv5yKDdvfVtpweCB_B_J9fpBM8QaG/view?usp=sharing">TP N° 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="expresiNOralYEscrita-list-item113" href-inappbrowser="https://drive.google.com/file/d/1k7nuUZEkxKHdMBV7lPwUEXcoLfZuc00P/view?usp=sharing">TP N° 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="expresiNOralYEscrita-list-item114" href-inappbrowser="https://drive.google.com/file/d/1vBONn3ERUGMrLJ8BLAGMMVaWmHB9Vw1W/view?usp=sharing">TP N° 4
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="expresiNOralYEscrita-list-item115" href-inappbrowser="https://drive.google.com/file/d/14OnQ4s8SfigQyLF4OcOLrZYLVd4BwToo/view?usp=sharing">TP N° 5
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="expresiNOralYEscrita-list-item238" href-inappbrowser="https://drive.google.com/file/d/1v8voF7Mf-J3LEgPYZlZUGx95f8UrmDdn/view?usp=sharing">TP N° 6
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>