<ion-view title="GUÍA UNLaR" id="page40">
  <ion-content padding="true" style="background: url(img/QpsnPXMRQmuKQehgSwmA_FondoApp10.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <a style="display:block;" href-inappbrowser="https://play.google.com/store/apps/details?id=com.ingeotec.IngeotecUNLaR">
        <img src="img/Xv34ZoEYSlqWzVRm66is_BannerGuiaUNLaRCuadrado700.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <a href-inappbrowser="https://play.google.com/store/apps/details?id=com.ingeotec.IngeotecUNLaR" id="gUAUNLaR-button4" style="border-radius:8px 8px 8px 8px;" class="button button-energized button-block">GUÍA UNLaR</a>
  </ion-content>
</ion-view>