<ion-view title="Horarios" id="page3" style="background-color:#0082D8;">
  <ion-content padding="true" style="background: url(img/lMNCQMIySLKFSvWnOuoE_FondoApp10.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horarios-list60">
      <ion-item class="item-icon-left item-icon-right positive" id="horarios-list-item17" ui-sref="tecInformTica.horarioIngreso()">
        <i class="icon ion-calendar"></i>Cursillo de Ingreso
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horarios-list61">
      <ion-item class="item-icon-left item-icon-right positive" id="horarios-list-item224" ui-sref="tecInformTica.horario1Cuatrimestre()">
        <i class="icon ion-calendar"></i>1° Cuatrimestre
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="horarios-list10">
      <ion-item class="item-icon-left item-icon-right positive" id="horarios-list-item18" ui-sref="tecInformTica.horario2Cuatrimestre()">
        <i class="icon ion-calendar"></i>2° Cuatrimestre
        <i class="icon ion-android-exit"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>