<ion-view title="Inglés" id="page16" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="inglS-list18">
      <ion-item class="item-divider" id="inglS-list-item-divider11"> Presentaciones</ion-item>
      <ion-item class="item-icon-right dark" id="inglS-list-item98" href-inappbrowser="https://drive.google.com/file/d/1K9NUEgxo-93NN65BzogfO-asSk0RWMo9/view?usp=sharing">Introducción
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="inglS-list-item99" href-inappbrowser="https://drive.google.com/file/d/1b2zZIGvqQbHFeEKuR8Yzec4j3lC0shI0/view?usp=sharing">La Electricidad
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="inglS-list-item100" href-inappbrowser="https://drive.google.com/file/d/16AM-pqvlU_QKygwBR8uLCQmMqmzP53xs/view?usp=sharing">Resistencia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="inglS-list19">
      <ion-item class="item-icon-right dark" id="inglS-list-item101" href-inappbrowser="https://drive.google.com/file/d/1676L5Tu0Q6iGnl5c-fZu0l-zbu4s0v_W/view?usp=sharing">Potencia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="inglS-list-item102" href-inappbrowser="https://drive.google.com/file/d/1McmukaNShEjMSVPWOiSkJvK5aVeP-mMh/view?usp=sharing">Capacitores
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="inglS-list-item103" href-inappbrowser="https://drive.google.com/file/d/1CWQoGlj1oBXdNuXJ2T-gDLOaqOT0Hpys/view?usp=sharing">Corriente Alterna
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="inglS-list-item225" href-inappbrowser="https://drive.google.com/file/d/1A2STGGckYxxWc9bm5j-M0UMHYMMJcC_G/view?usp=sharing">Análisis de Circuitos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="inglS-list81">
      <ion-item class="item-divider" id="inglS-list-item-divider13"> Material de Lectura</ion-item>
      <ion-item class="item-icon-right dark" id="inglS-list-item226" href-inappbrowser="https://drive.google.com/file/d/15RR8DPgdl-_8jsEnwWRl3X7nIptSGGR7/view?usp=sharing">Electrotecnia I
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="inglS-list-item227" href-inappbrowser="https://drive.google.com/file/d/1WpnctdCppcaiPJ1p9Yl_sTvVqaMTPDUq/view?usp=sharing">Fundamentos de Electricidad
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <ion-list id="inglS-list83">
      <ion-item class="item-divider" id="inglS-list-item-divider14"> Guías de Ejercicios</ion-item>
    </ion-list>
    <ion-list id="inglS-list84">
      <ion-item class="item-icon-right dark" id="inglS-list-item228" href-inappbrowser="https://drive.google.com/file/d/1Q9P1LGzlsb_DljKHyd9Ky5gT1KzCX6-2/view?usp=sharing">Guía I: Corriente Continua
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="inglS-list-item229" href-inappbrowser="https://drive.google.com/file/d/1aFXaqxwpBRrTX0yqdApwpafgWG8rOGp_/view?usp=sharing">Guía II: Método Mallas - Nudos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="inglS-list-item230" href-inappbrowser="https://drive.google.com/file/d/1AOJZxhTiMMUicbYAvxQDZOHjGCivsweP/view?usp=sharing">Guía III: Redes
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="inglS-list-item231" href-inappbrowser="https://drive.google.com/file/d/1s4BRfYI-LTo0NeRKJaLG_TQRahIuostq/view?usp=sharing">Guía IV: Circuitos Capacitivos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="inglS-list-item232" href-inappbrowser="https://drive.google.com/file/d/1kLF06pR_iJM6RSvDBo8WxyuLyXRy0aQ7/view?usp=sharing">Guía V: Circuitos Inductivos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="inglS-list-item233" href-inappbrowser="https://drive.google.com/file/d/1MnRE9oSnzVJI1h_licKzjZQdMqBzs6jq/view?usp=sharing">Guía VI: Circuitos RLC
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="inglS-list-item234" href-inappbrowser="https://drive.google.com/file/d/1U5gPa-i_eUitKesQDYTZLZAvswdBj2_I/view?usp=sharing">Guía VII: Potencia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="inglS-list-item235" href-inappbrowser="https://drive.google.com/file/d/1D5ESHX8DU0OumA98NXsMw4CR2isHa-LY/view?usp=sharing">Guía VIIII: Circuitos Trifasicos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="inglS-list80">
      <ion-item class="item-divider" id="inglS-list-item-divider12"> Materiales para Prácticas</ion-item>
    </ion-list>
    <ion-list id="inglS-list85">
      <ion-item class="item-icon-right dark" id="inglS-list-item236" href-inappbrowser="https://drive.google.com/file/d/1_X20JFd4dQ8MUvSwwVZoZV8LQf_-QqAQ/view?usp=sharing">Elementos de Laboratorio
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="inglS-list25">
      <ion-item class="item-divider" id="inglS-list-item-divider28"> Examen Final</ion-item>
    </ion-list>
    <ion-list id="inglS-list29">
      <ion-item class="item-icon-right dark" id="inglS-list-item118" href-inappbrowser="page41">Condiciones
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>