<ion-view title="Inicio" hide-nav-bar="true" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/R5Gov5GRQwmhu2wP0Ehs_FondoApp10.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div id="inicio-button-bar1" class="button-bar"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/ckqI48kTOu7fdnmM2Zzw_LogoTUIApp700.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <ion-list id="inicio-list3">
      <ion-item class="item-avatar dark" id="inicio-list-item9" ui-sref="tecInformTica.planDeEstudios()">
        <img src="img/AV4jkRllQcucMXplDyWL_006tui.png">
        <h2dark>Plan de Estudios</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item10" ui-sref="tecInformTica.horarios()">
        <img src="img/sx2R5bztQ3OFIHwRHIB2_005tui.png">
        <h2dark>Horarios</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item23" ui-sref="tecInformTica.programasDeCTedra()">
        <img src="img/M596yPSze8erYKeZ2Aog_004tui.png">
        <h2dark>Programas de Cátedra</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item11" ui-sref="tecInformTica.bibliotecaDigital()">
        <img src="img/GRXQCYgTC2yXgwYVYyQH_003tui.png">
        <h2dark>Biblioteca Digital</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item24" ui-sref="tecInformTica.calendarioAcadMico()">
        <img src="img/eAwuaOt7RT2RGysJzo7P_002tui.png">
        <h2dark>Calendario Académico</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item12" ui-sref="tecInformTica.acercaDeLaApp()">
        <img src="img/QFpJhIwRS0CL7PJm7H05_001tui.png">
        <h2dark>Acerca de la App</h2dark>
      </ion-item>
    </ion-list>
    <a ui-sref="tecInformTica.gUAUNLaR()" id="inicio-button3" class="button button-energized button-block">GUÍA UNLaR</a>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>