<ion-view title="Matemática" id="page13" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="matemTica-list14">
      <ion-item class="item-icon-right dark" id="matemTica-list-item84" href-inappbrowser="https://drive.google.com/file/d/1HksVuVPqKCOMNsl3etBgDCshBgbq4sEJ/view?usp=sharing">Apunte 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="matemTica-list-item85" href-inappbrowser="https://drive.google.com/file/d/1HbnPTClAvCYNgsCINyBwGaS3ZHGN2T_T/view?usp=sharing">Apunte 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="matemTica-list-item86" href-inappbrowser="https://drive.google.com/file/d/1LTb6Oj3Ms74mtprZ19fK0zxHppwDpc-j/view?usp=sharing">Apunte 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>