<ion-view title="Perfil del Graduado" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>Perfil del Graduado</u>
          </strong>
        </span>
      </h4>
      <div>La computación, como rama de las Ciencias y Técnicas Informáticas,&nbsp;constituye una de las expresiones fundamentales de la modernidad,&nbsp;ocupando un espacio preponderante en la actividad económica de las&nbsp;empresas, organismos e instituciones
        de la más variada índole.&nbsp;</div>
      <div>&nbsp;</div>
      <div>El avance de la computación ha quedado signado por los profundos&nbsp;cambios políticos y sociales que produjeron y continúan produciendo las&nbsp;distintas fases de la revolución de las TIC’s. Su constante y pronunciado&nbsp;avance alcanza a todas
        las actividades humanas, desplegándose en&nbsp;dimensiones cada vez más complejas -sea compartiendo espacios reales o&nbsp;virtuales-, que requieren, por lo tanto del respaldo de mano de obra con alta&nbsp;capacitación tecnológica, una sólida
        perspectiva cultural y una adecuada&nbsp;percepción de las estrategias empresariales.&nbsp;</div>
      <div>&nbsp;</div>
      <div>Desde esta perspectiva, el Técnico en Computación deberá cubrir&nbsp;cinco grandes áreas del conocimiento:&nbsp;</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>
            <u>Sistemas y Entorno Social</u>: se incluyen los conocimientos, normas,&nbsp;experiencias y motivaciones que derivan en la buena integración de las&nbsp;unidades de informática en la sociedad. Abarca el conocimiento de las&nbsp;metodologías
            de planificación, relevamiento, síntesis, análisis,&nbsp;determinación de requisitos, diseño, desarrollo, implantación, evaluación y&nbsp;seguimiento.&nbsp;</li>
        </ul>
        <p>&nbsp;</p>
        <ul>
          <li>&nbsp;
            <span style="text-decoration: underline;">Hardware</span>: Comprende el estudio de la teoría, técnicas y&nbsp;metodologías para comprender el funcionamiento de las computadoras, y&nbsp;su arquitectura interna.&nbsp;</li>
        </ul>
        <p>&nbsp;</p>
        <ul>
          <li>
            <u>Software de Base:</u>&nbsp;Abarca el estudio de la teoría, técnicas y&nbsp;metodologías para la elaboración de algoritmos computacionales; para la&nbsp;concepción, análisis, diseño, etc, de sistemas computacionales, y para la&nbsp;construcción
            y comprensión de las componentes básicas del software de un&nbsp;equipo de cómputo e Internet.&nbsp;</li>
        </ul>
        <p>&nbsp;</p>
        <ul>
          <li>
            <u>Software de Aplicación</u>: La lista de aplicaciones es prácticamente&nbsp;ilimitada por su extensibilidad constante. Se le brindan en esta sección&nbsp;herramientas teóricas y técnicas destinadas a aplicaciones de relevancia en&nbsp;el presente
            y en un futuro próximo (especialmente las vinculadas con el&nbsp;desarrollo de internet y sitios web).&nbsp;</li>
        </ul>
        <p>&nbsp;</p>
        <ul>
          <li>
            <u>Administración empresarial y estratégica</u>: Abarca los fundamentos&nbsp;de la Administración, la Evolución de los conceptos administrativos, la&nbsp;Organización empresarial, el Planea miento Estratégico, el Gerenciamiento,&nbsp;la Dirección
            y el liderazgo de los recursos humanos, el control de gestión,&nbsp;la competitividad y la calidad total.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>