<ion-view title="Planeamiento y Control de Gestión" id="page20" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="planeamientoYControlDeGestiN-list26">
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item122" href-inappbrowser="https://drive.google.com/file/d/1__8Efw3xaemkfoGRbCzkeFIDKFzfr7bi/view?usp=sharing">U1 Nociones de Informática 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item239" href-inappbrowser="https://drive.google.com/file/d/1ki3iLiXp7jZXnvqlXQ3zLNNYmS6WK_PQ/view?usp=sharing">U1 Nociones de Informática 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item123" href-inappbrowser="https://drive.google.com/file/d/1QYIIobkq6a0JzjfALSGdDcCUY0Ux38y_/view?usp=sharing">U2 Hardware
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item124" href-inappbrowser="https://drive.google.com/file/d/1rItOh0yfesBGbaz25avsL754fVFvW8rM/view?usp=sharing">U3 Sistema Operativo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="planeamientoYControlDeGestiN-list27">
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item125" href-inappbrowser="https://drive.google.com/file/d/1q8NxndOiS3MhgDs6_cajSs3zNv4B6jHI/view?usp=sharing">U3 Windows 7
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item126" href-inappbrowser="https://drive.google.com/file/d/1pqMYwvhl9tW4QM2E3yMr9cbs8twL98IR/view?usp=sharing">U4 Software de Aplicación
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item127" href-inappbrowser="https://drive.google.com/file/d/1ARpJN0vvlaRRNaLFBWItaIdfBpQRbW79/view?usp=sharing">U5 Procesador de Texto
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item240" href-inappbrowser="https://drive.google.com/file/d/14ay6jS-WirmZn8GAfY2yBlE_lqwHIKby/view?usp=sharing">U5 Word
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item241" href-inappbrowser="https://drive.google.com/file/d/11wnW1onkMqkZn4MABqVndBczQ9eyZakq/view?usp=sharing">U6 Claves de PowerPoint
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item242" href-inappbrowser="https://drive.google.com/file/d/1rYcShmhnq2a-KN8-vZZn5FCMAyJmuARy/view?usp=sharing">U7 Planillas de Calculo 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item243" href-inappbrowser="https://drive.google.com/file/d/1fmS8Yr681QsjTd6CFpzdxo67ZgNsAKhR/view?usp=sharing">U7 Planillas de Calculo 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item244" href-inappbrowser="https://drive.google.com/file/d/1ekoS08yDsR2DdZ4vmdymu-26L3kfJ3HJ/view?usp=sharing">U7 Planillas de Calculo 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item245" href-inappbrowser="https://drive.google.com/file/d/1ZrI39FuAu2Y0rfh89kGoGSWN3RheIqy_/view?usp=sharing">U7 Excel
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item246" href-inappbrowser="https://drive.google.com/file/d/1soWUs75sskSLBz_RWKrCrFQOc-3ZChfq/view?usp=sharing">U8 Bases de Datos 1
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item247" href-inappbrowser="https://drive.google.com/file/d/1h23tCLHpItRgby03FCKNN6q1r9NW4_38/view?usp=sharing">U8 Bases de Datos 2
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item248" href-inappbrowser="https://drive.google.com/file/d/14-wT4gHu0iTlxC9a6XYxszlqcnf4OLT1/view?usp=sharing">U8 Bases de Datos 3
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item249" href-inappbrowser="https://drive.google.com/file/d/1xLgmJ7KsAcdVmk0OQ4Q4XAU0JiTBlykl/view?usp=sharing">U8 Diseño Bases de Datos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item250" href-inappbrowser="https://drive.google.com/file/d/1IVeQlvnZxx7-ArPBS1m46rQ_UK3eLJk5/view?usp=sharing">U8 Ejemplo de Bases de Datos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planeamientoYControlDeGestiN-list-item251" href-inappbrowser="https://drive.google.com/file/d/1l8yoWjg4xrJjLFqePg1eM4FJW--8fvtv/view?usp=sharing">U9 Redes de Computadoras
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>