<ion-view title="Procesamiento de Datos I" id="page24" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="procesamientoDeDatosI-list34">
      <ion-item class="item-divider" id="procesamientoDeDatosI-list-item-divider18"> Teoría</ion-item>
      <ion-item class="item-icon-right dark" id="procesamientoDeDatosI-list-item146" href-inappbrowser="https://drive.google.com/file/d/163mpUsMU_wwFFbke-2MpBX-5oqyjVK1B/view?usp=sharing">U1 Semiconductores: El Diodo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="procesamientoDeDatosI-list-item147" href-inappbrowser="https://drive.google.com/file/d/1Jbs-zQPrZ2wDyJn5HMyRwcC0Xl137fBl/view?usp=sharing">U2 Diodos: Rectificación
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="procesamientoDeDatosI-list35">
      <ion-item class="item-divider" id="procesamientoDeDatosI-list-item-divider17"> Práctica</ion-item>
      <ion-item class="item-icon-right dark" id="procesamientoDeDatosI-list-item148" href-inappbrowser="https://drive.google.com/file/d/1-FXbThSb7CBHqT3roS18Ttu72681bPve/view?usp=sharing">Fuente Vcc
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="procesamientoDeDatosI-list-item149" href-inappbrowser="https://drive.google.com/file/d/1qDWrzyjVkh3YacSg6euUqryjTER3p6IU/view?usp=sharing">Lógica con Diodos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="procesamientoDeDatosI-list-item150" href-inappbrowser="https://drive.google.com/file/d/1DBnIA00bWkqg511CUmsuSB8c3qidyeQk/view?usp=sharing">Práctica con Diodos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="procesamientoDeDatosI-list-item151" href-inappbrowser="https://drive.google.com/file/d/13fw8Lk2BEdI3KTlecEYRQ3utpgwJkGmV/view?usp=sharing">Números Binarios
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="procesamientoDeDatosI-list-item256" href-inappbrowser="https://drive.google.com/file/d/1ETZtEFhcItaRt7DdUskipqvuNveEY-ug/view?usp=sharing">Display 7 Segmentos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="procesamientoDeDatosI-list-item257" href-inappbrowser="https://drive.google.com/file/d/1_90-ec26sSJf0xSHw2544aVk4XYaI-aq/view?usp=sharing">Conversador de Teclado Decimal
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="procesamientoDeDatosI-list-item258" href-inappbrowser="https://drive.google.com/file/d/166ig3WOpNRT1kMjuQ1B2kaqnmydnXptB/view?usp=sharing">Circuito Integrado y Forma de Onda
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>