<ion-view title="Procesamiento de Datos II" id="page30" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="procesamientoDeDatosII-list46">
      <ion-item class="item-icon-right dark" id="procesamientoDeDatosII-list-item182" href-inappbrowser="https://drive.google.com/file/d/16SSdkvAu22-Rm9BNIRuLrU6C6B9SAcmF/view?usp=sharing">Automatismo Cableado
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>