<ion-view title="Programas de Cátedra" id="page12" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="programasDeCTedra-list11">
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item33">
        <i class="icon ion-ios-list-outline"></i>Comunicación</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item34">
        <i class="icon ion-ios-list-outline"></i>Inglés</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item53">
        <i class="icon ion-ios-list-outline"></i>Sistemas I</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item54">
        <i class="icon ion-ios-list-outline"></i>Expresión Oral y Escrita</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item55">
        <i class="icon ion-ios-list-outline"></i>Informática</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item56">
        <i class="icon ion-ios-list-outline"></i>Planeamiento y Control de Gestión</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item57">
        <i class="icon ion-ios-list-outline"></i>Lógica Computacional</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item58">
        <i class="icon ion-ios-list-outline"></i>Contabilidad y Costos</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item59">
        <i class="icon ion-ios-list-outline"></i>Algoritmos y Estructuras de Datos</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item60">
        <i class="icon ion-ios-list-outline"></i>Procesamiento de Datos I</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item61">
        <i class="icon ion-ios-list-outline"></i>Seminario de Actualización</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item62">
        <i class="icon ion-ios-list-outline"></i>Programación</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item63">
        <i class="icon ion-ios-list-outline"></i>Sistemas II</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item64">
        <i class="icon ion-ios-list-outline"></i>Bases de Datos</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item65">
        <i class="icon ion-ios-list-outline"></i>Gestión de Recursos Informáticos</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item66">
        <i class="icon ion-ios-list-outline"></i>Procesamiento de Datos II</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item67">
        <i class="icon ion-ios-list-outline"></i>Recursos de Oficina</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item68">
        <i class="icon ion-ios-list-outline"></i>Asignatura Electiva I</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item69">
        <i class="icon ion-ios-list-outline"></i>Internet: Servicios y Diseño</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item70">
        <i class="icon ion-ios-list-outline"></i>Redes de Datos</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item71">
        <i class="icon ion-ios-list-outline"></i>Seminario de Actualización II</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item72">
        <i class="icon ion-ios-list-outline"></i>Asignatura Electiva II</ion-item>
      <ion-item class="item-icon-left positive" id="programasDeCTedra-list-item73">
        <i class="icon ion-ios-list-outline"></i>Trabajo Final</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>