<ion-view title="Programación" id="page26" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="programaciN-list38">
      <ion-item class="item-divider" id="programaciN-list-item-divider20"> Teoría</ion-item>
      <ion-item class="item-icon-right dark" id="programaciN-list-item158" href-inappbrowser="https://drive.google.com/file/d/1CwQR9fYDsXNTXaUFP0d9GAEewkPmEjwE/view?usp=sharing">Diodos Semiconductores
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="programaciN-list-item159" href-inappbrowser="https://drive.google.com/file/d/1GrSPqUluwTuvAoDYQdUc0vHG2WiFQ2B-/view?usp=sharing">Diodos Led
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="programaciN-list-item160" href-inappbrowser="https://drive.google.com/file/d/1PY2cKHEd8iAW9qMpP3kyXSY_UxGka6ss/view?usp=sharing">Transistores
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="programaciN-list-item259" href-inappbrowser="https://drive.google.com/file/d/1BT90Kg6bwub54oE6QijPqagVBtxVxBgc/view?usp=sharing">Amplificadores
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="programaciN-list-item261" href-inappbrowser="https://drive.google.com/file/d/1SgP3bdnQjlIqel5yguXNc-INkp7wneLU/view?usp=sharing">Instrumental
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="programaciN-list-item260" href-inappbrowser="https://drive.google.com/file/d/1mA-g5x7Isl9xhaICgD1rgAMdf8i398CI/view?usp=sharing">Como Soldar
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="programaciN-list-item265" href-inappbrowser="https://drive.google.com/file/d/15WYJeFz57jZkZA0ET4TCW0jhM53Kifq_/view?usp=sharing">Fuentes de Alimentación
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="programaciN-list23">
      <ion-item class="item-divider" id="programaciN-list-item-divider19"> Práctica</ion-item>
      <ion-item class="item-icon-right dark" id="programaciN-list-item163" href-inappbrowser="https://drive.google.com/file/d/1oSGbLZGbi8ragDhuNQT77QEgv7_awpJ6/view?usp=sharing">Diodo Silicio
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="programaciN-list-item162" href-inappbrowser="https://drive.google.com/file/d/1En1a81hnUbMHwy3VQFm_kwmh48IsizLA/view?usp=sharing">Diodo Zener
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="programaciN-list-item161" href-inappbrowser="https://drive.google.com/file/d/1hhFj3lERjndvjjxem1_bU6Yxgr-CBYNC/view?usp=sharing">Diodo Led
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="programaciN-list-item262" href-inappbrowser="https://drive.google.com/file/d/1bR_TyYL3qpFkkUMBjOI9zVcN7iIyu1F5/view?usp=sharing">Rectificador de 1/2 Onda
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="programaciN-list-item263" href-inappbrowser="https://drive.google.com/file/d/1ObLwwbIgqekLAdpMzZo5mK3zQR6edpZt/view?usp=sharing">Rectificador de Onda Completa
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="programaciN-list-item264" href-inappbrowser="https://drive.google.com/file/d/1hbYfBAXj4iFxAUaLdY3nWK1DAzrddYJ3/view?usp=sharing">Funcionamiento del Transistor
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="programaciN-list-item266" href-inappbrowser="https://drive.google.com/file/d/1TTPwAcLM_wfIRj2V0nOGC3-fQLQDIoKz/view?usp=sharing">Puente Rectificador
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>