<ion-view title="Redes de Datos" id="page34" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="redesDeDatos-list54">
      <ion-item class="item-divider" id="redesDeDatos-list-item-divider25"> Teoría</ion-item>
      <ion-item class="item-icon-right dark" id="redesDeDatos-list-item206" href-inappbrowser="https://drive.google.com/file/d/1O3WyqU4JDjy0iY_dS4JjeAqzFRVHGC6_/view?usp=sharing">Álgebra de Boole
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="redesDeDatos-list-item207" href-inappbrowser="https://drive.google.com/file/d/1da40DaEH1aK2xqSPiBFSeneMqVban3q_/view?usp=sharing">Leyes de Álgebra de Boole
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="redesDeDatos-list-item208" href-inappbrowser="https://drive.google.com/file/d/1XZr__AjWEYUbZetm0K6dfVCQBsL58EDF/view?usp=sharing">Compuertas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="redesDeDatos-list55">
      <ion-item class="item-icon-right dark" id="redesDeDatos-list-item209" href-inappbrowser="https://drive.google.com/file/d/175a6U-G5Cgvk9zCmrJcVnJ72OyLNOx6d/view?usp=sharing">Circuitos Conbinacionales
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="redesDeDatos-list-item210" href-inappbrowser="https://drive.google.com/file/d/1EWd9Uoi3gH_mic3pk256UeAUzlm03yXm/view?usp=sharing">Circuitos Secuenciales
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="redesDeDatos-list-item211" href-inappbrowser="https://drive.google.com/file/d/1x7AKU4Y37MVesFzOv0kyhubclDLCmKzP/view?usp=sharing">Métodos de Simplificación
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="redesDeDatos-list82">
      <ion-item class="item-divider" id="redesDeDatos-list-item-divider24"> Práctica</ion-item>
      <ion-item class="item-icon-right dark" id="redesDeDatos-list-item273" href-inappbrowser="https://drive.google.com/file/d/1vJTJRqDqkOBmvR7AjqPhKpZ65JCtHo4z/view?usp=sharing">Guía 1: Álgebra de Boole
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="redesDeDatos-list-item278" href-inappbrowser="https://drive.google.com/file/d/1h9Co8YK9o23hIpDSjC9V9r__ELAf4Keo/view?usp=sharing">Guía 2: Karnaugh
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="redesDeDatos-list-item277" href-inappbrowser="https://drive.google.com/file/d/1VblHsiHZv73VYZRM01kA6GIA7yo3SYbn/view?usp=sharing">Guía 3: Karnaugh
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="redesDeDatos-list-item276" href-inappbrowser="https://drive.google.com/file/d/19xr4PdOmV4pEKdVNZWQeJYJn_mNRV17T/view?usp=sharing">Guía 4: Compuertas Lógicas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="redesDeDatos-list-item275" href-inappbrowser="https://drive.google.com/file/d/1zILW1-7da3VZon-UQKApUgsNEuyzrN4j/view?usp=sharing">Guía 5: Análisis y Diseño de Circuitos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>