<ion-view title="Sistemas I" id="page17" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="sistemasI-list20">
      <ion-item class="item-divider" id="sistemasI-list-item-divider26"> Presentaciones</ion-item>
      <ion-item class="item-icon-right dark" id="sistemasI-list-item104" href-inappbrowser="https://drive.google.com/file/d/1Ssy-xqNv9hEHftcFneQoByfDRWKVG0q3/view?usp=sharing">1- Luz y Visión
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasI-list-item105" href-inappbrowser="https://drive.google.com/file/d/1nXLYkb0JW_ZwP5ua5Id15R4qBZb7gqEz/view?usp=sharing">2- Luz y Color
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasI-list-item106" href-inappbrowser="https://drive.google.com/file/d/1PFrtJ53Km6SMt8IYf4NBDQ7pmrDmoXDF/view?usp=sharing">3- Magnitudes y Unidades
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <ion-list id="sistemasI-list21">
      <ion-item class="item-icon-right dark" id="sistemasI-list-item107" href-inappbrowser="https://drive.google.com/file/d/1sWDEeptsL_W60MMMBUHzAkpKpDtJCyS5/view?usp=sharing">4- Fuentes de Luz
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasI-list-item108" href-inappbrowser="https://drive.google.com/file/d/1SVwGTiBUZ1rUGb_1QlpYkqTfylAjK0aN/view?usp=sharing">5- Equipos Auxiliares
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasI-list-item109" href-inappbrowser="https://drive.google.com/file/d/1PrZjYNxpzoWnFkemu-mzl5n0MoSmynbs/view?usp=sharing">6- Luminarias
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasI-list-item237" href-inappbrowser="https://drive.google.com/file/d/1hTz44UjDB3MADEkxznjRN5ultxME02CK/view?usp=sharing">7- Métodos de Calculo
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sistemasI-list17">
      <ion-item class="item-divider" id="sistemasI-list-item-divider27"> Material de Estudio</ion-item>
      <ion-item class="item-icon-right dark" id="sistemasI-list-item117" href-inappbrowser="https://drive.google.com/file/d/1XxfasdlIfnJevK6c6kRBBIJK0Adw3xTR/view?usp=sharing">Apunte de Luminotecnia
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>