<ion-view title="Sistemas II" id="page27" style="background-color:#0082D8;">
  <ion-content padding="true" class="has-header">
    <ion-list id="sistemasII-list40">
      <ion-item class="item-divider" id="sistemasII-list-item-divider21"> Teoría</ion-item>
      <ion-item class="item-icon-right dark" id="sistemasII-list-item164" href-inappbrowser="https://drive.google.com/file/d/1GoxrgLcovD-8Te8SDQb55Ma_5PAupmL7/view?usp=sharing">Realimentación en los Amplificadores
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasII-list-item165" href-inappbrowser="https://drive.google.com/file/d/1EFMQWvJkPOkSqKYH5M4A4IcRXbuxQP79/view?usp=sharing">Amplificador Operacional
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasII-list-item166" href-inappbrowser="https://drive.google.com/file/d/15r7rCUkHqZyhBkDeH8Gjl7QpTiXI4_l4/view?usp=sharing">Fuentes de Alimentación
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasII-list-item268" href-inappbrowser="https://drive.google.com/file/d/1EYZdFpYDYFCkPvICV7gIUCFNcCCIrHD5/view?usp=sharing">Generadores de Señal y Osciladores
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasII-list-item267" href-inappbrowser="https://drive.google.com/file/d/1JTolbB3Hy08e2pTgzgDXoz2ByqwsM6nI/view?usp=sharing">Amplificadores de Audio
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasII-list-item269" href-inappbrowser="https://drive.google.com/file/d/10bh80Ke_AUAfz9Vr9ydG7t0ueugMHdzC/view?usp=sharing">Placa Fuente Vcc Regulada
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasII-list-item270" href-inappbrowser="https://drive.google.com/file/d/1sAEwQJ3FJiFSz_NZvyF3gBShdOcR82E6/view?usp=sharing">Placa Fuente Vcc Variable
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasII-list-item271" href-inappbrowser="https://drive.google.com/file/d/1sAEwQJ3FJiFSz_NZvyF3gBShdOcR82E6/view?usp=sharing">Placa Fuente Vcc Variable
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasII-list-item272" href-inappbrowser="https://drive.google.com/file/d/1AxzTvDlC0z8y_egbJu57c_eBEm5B1FAf/view?usp=sharing">PWM 555-4098
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="sistemasII-list41">
      <ion-item class="item-divider" id="sistemasII-list-item-divider22"> Práctica</ion-item>
      <ion-item class="item-icon-right dark" id="sistemasII-list-item167" href-inappbrowser="https://drive.google.com/file/d/1QeBk_3YS8KB5_CBIVvY1w3hE7U6NfyYI/view?usp=sharing">PWM
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="sistemasII-list-item168" href-inappbrowser="https://drive.google.com/file/d/1fASyEW8TFdm7kT6n8vqaBbjMD0OwPcm-/view?usp=sharing">Circuito Detector de Nivel
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>