<?xml version='1.0' encoding='utf-8'?>
<widget id="com.MarcosNieto.TecInformatica" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Tec. Informática UNLaR</name>
    <description>
       Tec. Informática UNLaR es una aplicación para gestionar la carrera de Tecnicatura Universitaria en Informática  de la UNLaR, con ella podes acceder al plan de estudios, programas de cátedras, horarios de clases, calendarios y apuntes de cátedras entre otros contenidos.
    </description>
    <author email="marcos.nieto17@gmail.com" href="http://www.unlarsomostodos.tk/">
        Marcos Nieto
    </author>
    <content src="index.html" />
    <access origin="*" />
   	
	
	<gap:splash src="splash.png" />
<preference name="show-splash-screen-spinner" value="true" />
<preference name="SplashScreenDelay" value="5000" />    
<preference name="fullscreen" value="true" />
	
<preference name="android-minSdkVersion" value="17" />)
<preference name="android-targetSdkVersion" value="28" />)
	
	<platform name="android">
        <icon qualifier="xxxhdpi" src="Icon.png" />
        <splash qualifier="" src="Splash.png" />
   	</platform>
	
	
<gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>

<gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
	
	
	
</widget>